.footnote {
  font-size: 1rem;
  color: $grey;
}
.fadeup {
  position: relative;
  -webkit-animation: fadeup 1s forwards; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeup 1s forwards; /* Firefox < 16 */
      -ms-animation: fadeup 1s forwards; /* Internet Explorer */
       -o-animation: fadeup 1s forwards; /* Opera < 12.1 */
          animation: fadeup 1s forwards;
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to   {
    opacity: 1;
    transform: scale(1);
  }
}
