<div class="card">
  <div class="homepage-card-photo">
    <%= image_tag photo %>
  </div>
  <div class="homepage-card-text">
    <h2><%= title %></h2>
    <%= link_to path, class: 'homepage-card-link' do %>
      <p><%= subtitle %> <i class="fas fa-arrow-circle-right"></i></p>
    <% end %>
  </div>
</div>
