<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('<%= image_path 'background.jpeg' %>');">
  <div class="banner-content">
    <h1>About us</h1>
  </div>
</div>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12">
      <h1>Our mission</h1>
      <p>Mission statement</p>
    </div>
    <div class="col-xs-12">
      <h1>What is CrossFit?</h1>
      <p>CrossFit description</p>
    </div>
  </div>
</div>
