<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('<%= image_path 'background.jpeg' %>');">
  <div class="banner-content">
    <h1>Crossfit Watchman</h1>
    <p><span id="typed"></span></p>
    <a class="btn btn-primary">Find out more</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= render 'pages/homepage_card', title: 'About us', subtitle: 'Find out about our team', photo: 'crossfit-photo-1.jpg', path: 'about' %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'pages/homepage_card', title: 'Timetable', subtitle: 'See our weekly programme', photo: 'crossfit-photo-2.jpg', path: 'timetable' %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'pages/homepage_card', title: 'Prices', subtitle: 'Check out our prices', photo: 'crossfit-photo-3.jpg', path: 'pricing' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    var options = {
      strings: [
        "Strong,^1000 Fast,^1000 and Hard To Kill"
        ],
      typeSpeed: 50,
      backSpeed: 30,
      startDelay: 100,
      backDelay: 1500,
      loop: true
    }

    var typed = new Typed("#typed", options);
  });
</script>
