<%= render 'shared/page_title', title: "Our Pricing" %>
<div class="container padded">
  <div class="row page-wrapper padded">
    <div class="col-xs-12 col-md-6">
      <%= image_tag "crossfit-photo-2", class: "photo-large" %>
    </div>
    <div class="col-xs-12 col-md-6">
      <h1 class="text-center">Basic membership</h1>
      <p></p>
    </div>
  </div>
  <div class="row page-wrapper padded">
    <div class="col-xs-12 col-md-6">
      <h1 class="text-center">2 MERCIAN membership</h1>
      <p></p>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= image_tag "crossfit-photo-3", class: "photo-large" %>
    </div>
  </div>
</div>
