.card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 40px 0;
}
.homepage-card-text {
  text-align: center;
  h2 {
    letter-spacing: 2px;
  }
}
.homepage-card-photo img {
  max-width: 100%;
  border-radius: 5px;
}
.homepage-card-link {
  color: $dark-grey;
  &:hover {
    color: $grey;
    text-decoration: none;
  }
}
.instructor-photo {
  position: relative;
  bottom: 80px;
}
.instructor-details {
  position: relative;
  bottom: 60px;
  color: $dark-grey;
}
.instructor-name {
  font-size: 30px;
  margin-bottom: 12px;
}
