.navbar-social-links a {
  padding: 10px;
  color: $grey;
  &:hover {
    color: $dark-grey;
  }
}
.social-links {
  display: flex;
  flex-direction: column;
  i {
    margin-right: 8px;
  }
  a {
    margin-bottom: 8px;
  }
}
