<div class="footer">
  <div class="footer-links">
    <a href="https://journal.crossfit.com" target="_blank" title="CrossFit Journal: The Performance-Based Lifestyle Resource"><img src="https://de45qwmlmgefw.cloudfront.net/badges/white-125x63.png" width="125px" height="63px" alt="CrossFit Journal: The Performance-Based Lifestyle Resource" /></a>
  </div>
  <div class="footer-copyright">
    <p>Affiliated to <i>The 2nd Battalion, The Mercian Regiment</i></p>
  </div>
</div>
